/*@font-face {
    font-family: 'ralewaythin_italic';
    src: url('Font/raleway-italic-variablefont_wght-webfont.woff2') format('woff2'),
         url('Font/raleway-italic-variablefont_wght-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'ralewaythin';
    src: url('Font/raleway-variablefont_wght-webfont.woff2') format('woff2'),
         url('Font/raleway-variablefont_wght-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}*/
body{

    padding: 10;
    margin: 10;
    font-family:'Raleway';
}
header{
    display: flex;
    height: 50px;
}
.logo{
    width: 65%;
}
.logo-reservia{
    width: 100px;
    height: 70px;
}
.logo-reservia img{
    object-fit: contain;      
    height: 100%;
    width: 100%;
}

a{
    text-decoration: none;
    color: inherit;
}

.nav{
    width: 35%;
}
.nav ul{
    padding: 0;
    margin: 0;
    list-style-type: none;
}
.nav ul li a{
    display: block;
    float: left;
    width: 120px;
    text-align: center;
    text-decoration: none;
    color: #0065FC;
    padding: 5px;
    padding-top: 20px; 
    margin-left: 20px;
}
.nav ul li a:hover{
    color: #0065FC;
    border-top: 1px solid #0065FC;
    opacity: 0.7;
}
.nav ul li a:visited{
    color: grey;
}
.formulaire i{
    padding: 10px;
    background-color: rgba(133, 133, 133, 0.24);
    border-top-left-radius: 10px;
    border-bottom-left-radius:10px;
}
.formulaire input{
    border: none;
    padding: 10px;
    border-top: 1px solid rgb(219, 219, 219);
    border-bottom: 1px solid rgb(219, 219, 219);
}
.formulaire button{
    background-color:#0065FC;
    color: white;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    padding: 10px;
    border: 1px solid #0065FC;
}
.filtres{
    display: flex;
    margin-top: 20px;
}

.filtres .element{
    height: 40px;
    display: flex;
    align-items: center;
    border: 1px solid rgb(192, 192, 192);
    border-radius: 24px;
    margin-right: 20px;
    margin-left: 20px;
}

.filtres .element .i_container{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #dbe9fd;
    height: 43px;
    width: 43px;
    border-radius: 50%;
}
.filtres .element .element__text{
    font-size: 17px;
    font-weight: 700;
    padding: 0 10px;
}
.filtres .element_container:hover{
    color: #0065FC;
}

.bg-blue{
    color: #0065FC;
}

.information{
    display: flex;
    align-items: center;
}

.info{
    opacity: 0.7;
    padding-left: 10px;
}
.cercle{
     width: 20px;
     height: 20px;
     border-radius: 20px;
     background:white;
     border: 1px solid rgb(207, 207, 207);
}
.cercle .fa-info{
    color:#0065FC;
    margin-left: 7px;
}
/*Section*/


section{
    display: flex;
}
article{
    width: 75%;
    background-color: #F2F2F2;
    border-radius: 10px;
    padding: 20px;
    margin: 10px;
}
aside{
    width: 25%;
    padding: 20px;
    margin: 10px;
    background-color: #F2F2F2;
    border-radius: 10px;
}
.fa-star{
    color: #0065FC;
}
.bg-grey{
    color: gray !important;
    opacity: 0.3;
}
.portfolio{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.portfolio .card_item{
    overflow: hidden;
    border-radius: 10px;
    height: 300px;
    width: 300px;
    border: 5px solid white;
    margin-bottom: 30px;
    box-shadow: 0px 5px 5px 5px rgba(133, 133, 133, 0.24)
}
.portfolio .card_item .card_photo{
    height: 180px;
}
.portfolio .card_item .card_photo img{
    object-fit: cover;
    height: 100%;
    width: 100%;
}
.portfolio .card_item .test{
    background-color: white;
    height: 120px;                          
}
.portfolio .card_item .test h3{
    margin: 0;
    padding-top: 10px;
}

/*Aside*/

.title{
    display: flex;
    align-items: center;
}
.title i{
    padding-left: 100px;
}
.portfolio_aside{
    display: flex;
    flex-direction: column;
}
.card_aside{
    height: 200px;
    width: 350px;
    display: flex;
    overflow: hidden;
    border: 5px solid white;
    border-radius: 10px;
    margin-bottom: 30px;
    box-shadow: 0px 5px 5px 5px rgba(133, 133, 133, 0.24)
}
.portfolio_aside .card_aside .card_aside_photo{
    height: 200px;
    width: 150px;

}
.portfolio_aside .card_aside .card_aside_photo img{
    object-fit: cover;
    height: 100%;
    width: 100%;
}
.portfolio_aside .card_aside .card_text{
    float: right;
    background-color: white;
    width: 50%;
    padding-left: 10px;
    width: 200px;
}
/*2ème section*/


.activités{
    display: flex;  
    flex-direction: row;          
}

.activités .container{
    height: 500px;
    width: 25%;
    overflow: hidden;
    border-radius: 10px;
    margin-right: 20px;
    box-shadow: 0px 5px 5px 5px rgba(133, 133, 133, 0.24)
}
.activités .container img{
    object-fit: cover;
    height: 90%;
    width: 100%;
}
.activités .little_container{
    overflow: hidden;
    width: 100%;
    height: 250px;
    margin-bottom: 50px;
    border-radius: 10px;
    margin-right: 20px;
    box-shadow: 0px 5px 5px 5px rgba(133, 133, 133, 0.24)
}
.activités .little_container p{
    font-weight: 900;
}
.activités .little_container img{
    height: 80%;
    width: 100%;
}
.activités .little_container_2{
    overflow: hidden;
    height: 200px;
    width: 100%;
    margin-bottom: 50px;
    border-radius: 10px;
    margin-right: 20px;
    box-shadow: 0px 5px 5px 5px rgba(133, 133, 133, 0.24)
}
.activités .little_container_2 img{
    height: 80%;
    width: 100%;
}


/*Footer*/


footer{
    display: flex;
    padding: 20px;
    background-color: #F2F2F2;
    margin-top: 50px;
    justify-content: space-between;
}

@media screen and (max-width: 1300px){
    .nav ul li a {
        float: none;
        text-align: start;

    }
    section{
        display: block;
        width: 100%;
    }
    aside{
        display: block;
        width: 75%;
    }
    .activités{
        display: flex;
        width: 80%;
    }
    .card_aside{
        width: 100%;
    }
}

@media screen and (max-width: 1250px){
    section{
        display: flex;
    }
    aside{
        order: 1;
    }
    article{
        order: 2;
    }
    .activités{
        display: flex;
        width: 100%;
    }
    .portfolio_aside .card_aside{
        height: 500px;
        margin-top: 80px;
        margin-bottom: 80px;
    }
    .portfolio_aside .card_aside .card_aside_photo{
        height: auto;
        width: auto;
    }
    .portfolio_aside .card_aside .card_text{
        text-align: center;
        padding-top: 100px;
    }
    .portfolio .card_item{
        width: 100%;
    }   
}

@media screen and (max-width: 1000px){
    header{
        display: block;
        height: auto;
    }

}

@media screen and (max-width: 900px){
    
}